   
@import url('https://fonts.googleapis.com/css?family=Anonymous Pro');

:root {
  --colorbg: #bc7c76;
  --colort1: #f2c172;
  --colort2: #b4e8db;
  --colort3: #883d1e;
  
  --colorbg_old: #979cb4;
  --colort1_old: #383f60;
  --colort2_old: #cacfe2;
  --colort3_old: #1c1f2c;
}

header {
    background-image: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: auto;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 100px;
}

.bighead {
  padding: 500px;
}

h2 {
  font-size: 30px;
}

div {
  border: 5px solid var(--colort1);
  margin: 50px;
  padding: 20px;
  background-color: var(--colort3);
}

body {
  background-color: var(--colorbg);
  color: var(--colort2);
  font-family: 'Spline Sans Mono', monospace;
  font-size: 20px;
}

.ld {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 3px solid var(--colort1);
}

img {
  display: block;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 3px solid var(--colort1);
  margin-left: auto;
  margin-right: auto;
}

object {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid var(--colort1);
    margin-left: auto;
    margin-right: auto;
}

text {
	align: center;
}

a {
    color: var(--colort1);
}

.fingers {
  margin: auto;
  width: 50%;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--colort2);
  border: 3px solid var(--colort1);
}

.button:hover {
  background-color: var(--colort3);
}

.small {
  font-size: 10px;
  color: var(--colort1);
}
