   
@import url('https://fonts.googleapis.com/css?family=Anonymous Pro');

:root {
  --colort1_new: #6d77a5;
  
  --colorbg: #979cb4;
  --colort1: #383f60;
  --colort2: #cacfe2;
  --colort3: #1c1f2c;
}

header {
    background-image: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: auto;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 100px;
}

.bighead {
  padding: 500px;
}

h2 {
  font-size: 30px;
}

.background {
	background-color: var(--colort3);
    border: 5px solid var(--colort1);
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

body {
  background-color: var(--colorbg);
  color: var(--colort2);
  font-family: 'Spline Sans Mono', monospace;
  font-size: 20px;
}

.light-mode {
    background-color: var(--colort1);
    color: var(--colorbg);
}

.ld {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 3px solid var(--colort1);
}

.gallery {
  max-width: 500px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  white-space: nowrap;
  display: inline;
  width:100%;
}

object {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid var(--colort1);
    margin-left: auto;
    margin-right: auto;
}

text {
	align: center;
}

a {
    color: var(--colort2);
}

a:hover {
	color: var(--colort1_new);
}

.row {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	clear: both;
	border: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	box-sizing: border-box;
}

.fingers {
  margin: auto;
  width: 50%;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--colort3);
  border: 3px solid var(--colort1);
  color: var(--colort2);
  font-family: 'Spline Sans Mono', monospace;
  font-size: 20px;
}

.button:hover {
  background-color: var(--colort3);
}

.small {
  font-size: 10px;
  color: var(--colort1);
}
